@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
}
@media all and (max-width: 768px) {
  /* media  query for mobile devices */
  body{
    max-width: 100%;
  }
}
html{
  box-sizing: border-box;
}
body{
  max-width: 100%;
  background-color: "#f8f9fa";
  margin: 0;
  padding: 0;

}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
